.chatmessage {
    position: relative;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.yourmessage {
    /* display:inline-block; */
    justify-content: left;
    background-color: aliceblue;
}

.mymessage {
    display: flex;
    justify-content: right;
    background-color: rgba( 199, 173, 146, 0.5 );
}